@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  background: #f8d41f;
  color: #161617;
  height: 100%;
  width: 100%;
  overflow: auto;
}
